<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <b>I am Ranjit, learning Djago for our future projets.I am basically an developer></b>
    <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione magni praesentium ullam perspiciatis, velit
        molestias sit culpa ab error, facilis totam voluptatem sint doloribus, esse qui necessitatibus voluptas. Error,
        ipsam.
    </b>
    <br>
    varaibles value is <B>{{variable}}</B>

</body>

</html>